/*  your css code here. If applicable */
/*  your css code here. If applicable */
		#verification_heading {
    text-align: center;
    margin-top: 20px;
}

#verification_subtext {
    text-align: center;
    margin-top: 10px;
}

.code-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.code {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    border: 2px solid #000;
}
